/*

Please add any custom CSS code in here, it will be easier to transfer if updating themes.

We highly recommend labelling changes, or App installs, so these can also be updated or removed as needed.

*/

.spr-form-input-text, .spr-form-input-email, .spr-form-input-textarea{
  color: black;
}

.product-page--pricing.sale--color #price-field{
  color: white;
}

.slider-pauseplay{
  display: none !important;
}

.subscription-header, .subscription-content-container, .subscription-content-block, .subscription-content-block-header, .subscription-content-block-body, .no-subscriptions{
background: transparent !important;
}


.grid__image.has-accent-color{
  padding: 8%;
}

#customer-accounts .action-bottom{
      max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#create-customer .form-control{
  background: transparent;
  border-width: 2px;
  color: white;
}

#customer-accounts #add_address input, #customer-accounts #login_email input, #customer-accounts #login_password input{
  border-width: 2px;
}

.mobile-header--wrapper .mobile-side-column{
  flex-basis: 25%;
  flex-grow: 1;
}

.mobile-header--wrapper .mobile-logo-column .site-header__logo{
  max-width: 90px;
}


.mobile-menu-link.mobile-menu-sub,  .mobile-menu-child #mobile-menu .top-link, .mobile-customer-link .mobile-menu-link{
  font-family: 'Good Sans';
  font-weight: 500;
  font-size: 32px;
}

.mobile-menu-link.mobile-menu-sub{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-child #mobile-menu .top-link{
  border-top: 2px solid var(--mobile-menu-border-color);
  border-bottom: 2px solid var(--mobile-menu-border-color);
}

li .mobile-menu-link{
  border-bottom: 2px solid var(--mobile-menu-border-color);
}

.mobile-menu-main > li:first-child{
  border-top: 2px solid var(--mobile-menu-border-color);
}

.mobile-menu-child #mobile-menu{
  border-bottom: 2px solid var(--mobile-menu-border-color);
}

.mobile-menu-child li .mobile-menu-link:not(.top-link){
  border-bottom: 0;
  font-family: 'Good Sans';
  font-size: 24px;
}
@media screen and (min-width: 769px){
  .desktop-hide{
    display: none !important;
  }
}

@media screen and (max-width: 768px){
  .mobile-hide{
    display: none !important;
  }
}

.stroke-text {
  -webkit-text-stroke-width: 1px;
  color: var(--page-background);
  -webkit-text-stroke-color: white;
}

.has-accent-image{
  position: relative;
}

.homepage-sections-wrapper.has-accent, .container.has-accent{
  position: relative;
}

.title-bar{
  text-align: left;
}

.title-bar h1,
.title-bar h2 {
    font-size: var(--heading-title-bar-font-size);
    line-height: var(--heading-title-bar-line-height);
    text-transform: var(--header-font-transform);
    letter-spacing: var(--header-letter-spacing);
}

.title-bar h3.typography--padding-bottom {
    margin-bottom: 10px;
}

.title-bar h3{
  font-size: var(--subheading-title-bar-font-size);
    line-height: var(--subheading-title-bar-line-height);
  letter-spacing: var(--subheading-title-bar-letter-spacing);
  font-weight: var(--subheading-title-bar-font-weight)
}

input, #newsletter_text, [id^=newsletter_text]{
  font-family: var(--input-font-stack);
  font-size: var(--input-font-size);
}

#newsletter_text, [id^=newsletter_text]{
  padding: 5px 0;
}

#newsletter_submit, [id^=newsletter_submit]{
  flex-shrink: 0;
}

#fsb_container{
  display: none !important;
}

.nav>li.mega-menu .dropdown-menu, .nav>li.mega-menu .dropdown-menu .mega-menu-block{
  background: white;
}

.mega-menu-block .h4 a, .nav>li.mega-menu .dropdown-submenu .dropdown-submenu__linklist li a, .nav>li.mega-menu .h5, .nav>li.mega-menu .mega-menu--image-title,
#shopify-section-header .header-wrapper--overlay .mega-menu-block a, #shopify-section-header .header-wrapper--overlay .mega-menu-block a:hover{
  color: var(--nav-megamenu-color);
  font-family: var(--header-font-stack);
}

.nav>li.mega-menu .dropdown-menu .mega-menu-block .h4{
  font-size: 18px;
  text-align: left;
    margin-top: 10px;
}

.nav>li.mega-menu .dropdown-menu .mega-menu-block__heading{
  font-size: 26px;
  text-transform: uppercase;
}

.nav>li.mega-menu .dropdown-menu .mega-menu-block .h5{
  margin-top: 5px;
  text-align: left;
  font-family: var(--product-page-price-font-stack);
  font-size: 24px;
}

.nav>li.mega-menu .dropdown-submenu .dropdown-submenu__linklist li.site-nav--active .dropdown-submenu__link{
  padding: 5px 0;
}

.mega-menu-block .h4 a{
  font-weight: 900;
}

.nav>li.mega-menu .dropdown-submenu .dropdown-submenu__linklist li a{
  font-weight: 500;
  font-size: 24px;
  padding: 5px 0;
}

.title-bar .main-heading{
  font-size: var(--page-heading-font-size);
  line-height: 1em;
}

.shopify-section .title-bar{
  margin-bottom: 60px;
}

p[data-spam-detection-disclaimer]{
  font-size: 19px;
}

.btn{
  border-radius: 28px;
}

.secondary-button{
  background: var(--button-secondary-background-color);
  color: var(--button-text-color);
  border-color: var(--button-secondary-background-color);
  box-shadow: none;
}

.footer__block-wrapper .sm-icons svg{
  height: 20px;
  width: 20px;
}

#shopify-section-footer footer h3{
  font-family: var(--header-font-stack);
  font-size: var(--footer-links-font-size);
  font-weight: 900;
  padding: 0 0 40px 0;
}

@media screen and (max-width: 768px){
  #shopify-section-footer footer h3{
    padding-bottom: 0px;
  }
}

#shopify-section-footer footer a{
  font-family: var(--header-font-stack);
  font-size: var(--footer-links-font-size);
  font-weight: var(--footer-links-font-weight);
}

#shopify-section-footer footer .footer-bottom__copyright a{
  font-size: 16px;
  font-weight: 300;
}

.footer__social-icons .sm-icons a{
  display: flex;
  align-items:center;
}

.blog-publish-date{
  font-family: var(--breadcrumb-font-stack);
  font-size: var(--breadcrumb-font-size);
  font-weight: var(--breadcrumb-font-weight);
}

.article-title-wrapper{
  text-align:  left;
}

.indiv-product .indiv-product-title-text {
    margin: 0 0 10px 0;
    line-height: 1.3;
    font-size: 24px;
    font-weight: 500;
    font-family: var( --header-font-stack);
    letter-spacing: -0.72px;
    display: block;
}

@media screen and (max-width: 768px){
  .indiv-product .indiv-product-title-text{
    font-size: 16px;
  }
}

.money-styling {
    margin: 0 0 10px 0;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    font-size: var(--price-base-font-size);
    font-family: var(--price-font-stack);
    font-weight: var(--price-font-weight);
    padding: 0;
    font-weight: 300;
    width: 100%;
}

a:not(.btn):hover{
  opacity: 1;
}

@media screen and (max-width: 768px){
  .footer .image-bar__item{
    text-align: left;
  }

  .footer__block-wrapper{
    border-bottom: 1px solid white;
  }
}

@media screen and (max-width: 768px){
  .mobile-full-width{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .homepage-sections-wrapper.mobile-no-padding-bottom{
    padding-bottom: 0 !important;
  }

  .homepage-sections-wrapper.mobile-no-padding-top{
    padding-top: 0 !important;
  }
}

/* COLLECTION LIST */
.homepage-collection-link h3{
  font-size: var(--body-font-size);
  text-transform: none;
  font-weight: 500;
  
}

@media screen and (max-width: 768px){
  .homepage-collection-link h3{
    font-size: 24px;
  }
}

/* IMAGE WITH TEXT */
.feature-row__text--inner .title-bar h2{
  font-size: 37px;
  line-height: 1em;
}

.featured-row__subtext{
  margin-bottom: 15px;
}

@media screen and (max-width: 768px){
  .feature-row__text--inner .title-bar h2{
    font-size: 28px;
  }
}

/* CONTACT PAGE */
.contact-page__entry-content h2{
  font-size: 37px;
  line-height: 1em;
}

.contact-page__entry-content p{
  font-size: 24px;
  margin-bottom: 40px;
}

#contact-form .form-control{
  border-width: 2px;
}

@media screen and (max-width: 768px){
  #footer-payment-methods{
    justify-content: flex-start;
  }

  .footer__block-type--logo footer__block-wrapper{
    padding-bottom: 40px;
    margin-bottom: 20px;
  }
}

/* COLLECTION PAGE */
@media screen and (max-width: 768px){
  .collection-wrapper .indiv-product .indiv-product-title-text{
    font-size: 24px;
  }
  
  .collection-wrapper .money-styling{
    font-size: 24px;
  }
}

/* BOLD */
.bold-ro__recurring-title{
  display: none;
}

.ro_widget .bold-ro__recurring-lbl{
  font-size: 24px;
    color: white;
}

.bold-ro__order-interval-lbl{
  font-family: var(--product-page-label-font-stack);
  font-size: 20px;
  color: white;
}

.ro_widget .bold-ro__recurring-div select{
      background-color: transparent;
    border-color: white;
    font-size: 20px;
    padding: 5px;
  font-family: var(--product-page-label-font-stack);
  color: white;
}

.ro_widget .bold-ro__bold-active {
    background-color: transparent;
    border-color: transparent;
    border-width: 0;
    border-style: solid;
}

.ro_widget .bold-ro__product input[type=radio]{
      appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    background: transparent;
    border: 3px solid var(--page-background);
    box-shadow: 0 0 0 1px #ffffff;
    height: 19px;
    width: 19px;
    margin-right: 10px;
}

.ro_widget .bold-ro__product input[type=radio]:checked{
  background: white;
}

.bold-ro__order-interval-container{
  padding-left: 10px;
}

.ro_widget .bold-ro__one-time-div, .ro_widget .bold-ro__recurring-div, .ro_widget .bold-ro__mix-div{
  padding-left: 0;
}

.product-subscription-checklist{
      list-style-type: none;
  display: none;
    padding-left: 10px;
    margin-top: 15px;
    color: white;
    fill: white;
  font-size: 20px;
  font-family: var(--product-page-label-font-stack);
}

.product-subscription-checklist svg{
  margin-right: 8px;
      vertical-align: bottom;
  height: 20px;
  width: 20px;
  fill: #52b5c2;
}

.bold-ro__bold-active .product-subscription-checklist{
  display: block;
}

/* STAR RATING */

.money-styling .spr-badge{
  width: 100%;
  display: block;
}
.spr-badge-starrating .spr-icon{
  font-size: 14px !important;
}

.spr-badge-caption{
  font-size: 18px;
  font-family: var(--product-page-price-font-stack);
  font-weight: 400;
}

.product-page--pricing .spr-badge-caption{
    position: relative;
    top: 2px;
    margin-left: 5px;
}

/* END STAR RATING */

.indiv-product .compare-at-price{
  display: none;
}

.cart-heading {
  font-weight: 900 !important;
  font-size: 32px !important;
  line-height: 52px !important;
  color: white !important;
}


